* {
  margin: 0;
  padding: 0;
}

.reference {
  /* border: 1px solid black; */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1%;
}

.reference-content1 {
  font-size: 1.5rem;
  margin: 1%;
}
